@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {


    @font-face {
        font-family: 'Gumela Regular';
        font-style: normal;
        font-weight: normal;
        src: local('Gumela Regular'), url('Gumela.woff') format('woff');
    }

    body {
        cursor: url("https://cdn-icons-png.flaticon.com/24/4610/4610128.png"), auto;

        font-family: 'Gumela Regular', sans-serif;
    }

    body a {
        cursor: url("https://cdn-icons-png.flaticon.com/24/889/889844.png"), auto;
    }

    .main-header {
        clip-path: polygon(0 0, 100% 0, 100% 35%, 0% 100%);

       
    }

    .hero-area{
         background-image: url(./img/home_bg.jpg); 
    }

    .hero-name {
        animation: demo-typewriter 3s steps(30, end), demo-cursor 1s step-end infinite;
    }

    @keyframes demo-typewriter {
        from {
            width: 0;
        }

        to {
            width: 100%;
        }
    }

    .about-area{
        clip-path: polygon(0 100%, 100% 100%, 100% 35%);

    }
}
